@{
    ViewData["Title"] = "Home Page";
}
@* @model TravelClient.Models.Review; *@

<h1>All Reviews:</h1>

<ol>
    @foreach (Review review in Model)
    {
        <ul>
            <li>ID: @review.ReviewId</li>
            <li>City: @review.City</li>
            <li>Country: @review.Country</li>
            <li>Details: @review.Details</li>
            <li>Rating: @review.Rating</li>
            <li>Date Visited: @review.Visited</li>
        </ul>
        <br>
    }
</ol>